name: "GoReleaser"

on:
  workflow_call:
    inputs:
      docker:
        required: false
        default: false
        description: "Enable docker push"
        type: boolean
      apt:
        required: false
        default: false
        description: "Enable storing dpkg artifacts"
        type: boolean
      apt-artifact:
        required: false
        default: "dpkg-files"
        description: "dpkg artifact name"
        type: string
      config-file:
        required: false
        default: ".goreleaser.yml"
        description: "Goreleaser configuration file"
        type: string
      cross-compile:
        required: false
        default: false
        description: "Enable osx cross-compiling"
        type: boolean
      runs-on:
        required: false
        default: "ubuntu-latest"
        description: "runs on platform"
        type: string
    secrets:
      DOCKER_USERNAME:
        required: false
      DOCKER_PASSWORD:
        required: false
      DOCKER_GITHUB_TOKEN:
        required: false
      GO_RELEASER_GITHUB_TOKEN:
        required: false

jobs:
  goreleaser:
    name: "GoReleaser"
    runs-on: ${{ inputs.runs-on }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Checkout osxcross
      if: ${{ inputs.cross-compile }}
      uses: actions/checkout@v4
      with:
        repository: 'tpoechtrager/osxcross'
        github-server-url: 'https://github.com'
        path: 'artifacts/osxcross'
        token: ${{ secrets.CWX_GH_TOKEN }}

    - name: Set up Go
      if: ${{ hashFiles('go.mod') != '' }}
      uses: actions/setup-go@v6
      with:
        cache: false
        go-version: ^1
      id: go

    - name: Build osxcross
      if: ${{ inputs.cross-compile }}
      env:
        UNATTENDED: "1"
        SDK_VERSION: "14.2"
        CLANG_VERSION: "16.0.0"
        ENABLE_CLANG_INSTALL: "1"
        INSTALLPREFIX: "/usr"
      run: |
        sudo apt-get install gcc-multilib g++-multilib
        curl -sSL https://cmake.org/files/v3.14/cmake-3.14.5-Linux-x86_64.tar.gz | sudo tar -xzC /opt
        echo "/opt/cmake-3.14.5-Linux-x86_64/bin" >> ${GITHUB_PATH}
        export PATH=/opt/cmake-3.14.5-Linux-x86_64/bin:$PATH
        cd artifacts/osxcross
        ./build_apple_clang.sh
        ./build.sh
        ./build_compiler_rt.sh

    - name: Set up go env
      if: ${{ hashFiles('go.mod') != '' }}
      run: export PATH=${PATH}:`go env GOPATH`/bin

    - name: Docker Login (Docker Hub)
      uses: docker/login-action@v3
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      if: ${{ inputs.docker && (env.DOCKER_USERNAME != '') && (env.DOCKER_PASSWORD != '') }}
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Login (GitHub Container Registry)
      uses: docker/login-action@v3
      env:
        DOCKER_GITHUB_TOKEN: ${{ secrets.DOCKER_GITHUB_TOKEN }}
      if: ${{ inputs.docker && env.DOCKER_GITHUB_TOKEN != '' }}
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.DOCKER_GITHUB_TOKEN }}

    - name: Install Mage
      if: ${{ hashFiles('magefiles/*') != '' && (!startsWith(inputs.runs-on, 'macos-latest')) }}
      uses: magefile/mage-action@v3
      with:
        install-only: true
      
    - name: Install and Run Mage (macOS)
      if: ${{ hashFiles('magefiles/*') != '' && (startsWith(inputs.runs-on, 'macos-latest')) }}
      run: |
        brew install --force mage
        mage

    - name: Run CI Target
      if: ${{ hashFiles('Makefile') != '' }}
      run: make ci

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        args: release --config "${{ inputs.config-file }}" --clean
      env:
        GOVERSION_NR: ${{ steps.go.outputs.go-version }}
        GITHUB_TOKEN: ${{ secrets.GO_RELEASER_GITHUB_TOKEN }}
        HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.GO_RELEASER_GITHUB_TOKEN }}

    - name: Store dpkg artifacts
      if: ${{ inputs.apt }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.apt-artifact }}
        path: dist/*.deb
